body{
    background-color: aliceblue;
    margin: 0;
    color: gray;
    font-family: callberi;

}
input:invalid{
    background-color: red;
}
.container{
background-color: white;
width: 40%;
height: auto;
padding: 15px;
position: absolute;
left: 30%;
top: 1%;
border-radius: 5px;
}
.input-form{
    width: 95%;
    background-color:wheat;
    margin: 0.9%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.input-form-number{
    width: 12%;
    background-color: wheat;
    margin: 1%;
    padding: none;
    border-radius: 5px;
}
.input-form-value{
    width: 57.1%;
    background: wheat;
    margin: 1%;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
.btn-form-change{
    color: white;
    background-color:wheat;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 35%;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.btn-form-pay{
    color: white;
    background-color:wheat;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 35%;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.btn-form-pay:hover{
    background-color:wheat;
}
.btn-form-change:hover{
    background-color: wheat;
}
.table{
    margin-top: 5px;
    border-collapse: collapse;
    width: 100px;
    border: 1px solid #ddd;
}
th,td{
    background: white;
}
th:hover{
    box-shadow: 2px 0px 10px 0px #f4f4f4;
    border: 1px solid red;
}
th{
    border: 1px solid wheat;
}
@media screen  and  (max-widht: 700px){
    .container {
        width: 80%;
        left: 6%;
    }
    .input-form-value{
        width: 49%;
    }
    
} 
    
