* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background-color: blueviolet;
}
.medsos ul li {
    display: inline-block;
    color: aliceblue;
    margin-left: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
    
}
.container:after{ 
content:"";
display: block ;
clear:both;

}

header h1 {
   
    float:left;
    padding: 15px 0;
    color:blueviolet;
}
header ul {
   
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.active{
    background-color: blueviolet;
    color: aliceblue; 
}
.banner {
    height: 60vh;
    
    background-image: url('../img/benner.jpg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(92, 15, 160, 0.6);
  
}
.banner h2 {
color: aliceblue;
z-index: 1;
padding: 20px 25px;
border: 3px solid aliceblue ;
}
.section {
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: blueviolet;
    margin-bottom: 25px;
}
.about{
    padding-bottom: 100px;
}
.about p {
    color: blueviolet;
    word-spacing: 2px;
    line-height: 25px;
}
.service {
    
    background-color: #f9f9f9;
}
.box {
    padding-bottom: 100px;
    color: blueviolet;
}
.box:after {
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
.box .col-4 h4{
    margin: 20px 0;
    
}
footer{
    padding: 30px 0;
    background-color: #333;
    color: #f9f9f9;
    text-align: center;
}
.bg-loader {
    background-color: #eee;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50px;
 border-top-color: blueviolet;
 border-right-color: blueviolet;
 border-bottom-color: blueviolet;
 animation: puterin 0,5s linear infinite;
}
@keyframes puterin {
    100% {
        transform: rotate(360deg)
    }
}