<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<meta charset="UTF-8">
<meta name="viewport"  content="width=device-width, initial-scale=1">
<title>FROM PAY</title>
<link rel="stylesheet" type="text/css" href="css/style3.css">
</head>
<body>
    <div class="container">
        <h1 style="margin:10px;">PAYMENT</h1>
        <form class="" action="cekout.html" method="post">
            <input required class="input-form laf" type="text" name="" value="LULUILJANNAH" placeholder="Nama">
            <input required class="input-form laf" type="number" name="" value="08" placeholder="08.." >
            <input required class="input-form-number laf" type="number" name="" value="1" placeholder="jumlah" ng-model="jumlah">
            <input required class="input-form-number laf" type="number" name="" value="20000" ng-model="harga">
            <input disabled required class="input-form-value" type="number" name="" value="{{jumlah*harga}}" placeholder="Hasil" ng-model="Hasil">
            <textarea class="input-form" cols="5" rows="5" name="comment" placeholder="Alamat" required></textarea>
            <div style="overflow-x: auto;">
           
            <label> Pilih Metode Pembayaran</label>
            <table border=0 collpadding="10">
                <tr>
                    <th><input type="checkbox" value=""><img src="img/bank-transfer-logo.png" width="60px" height="30px"></th>
                    <th><input type="checkbox" value=""><img src="img/GoPay-Logo-2016-1536x1152.png" width="60px" height="30px"></th>
                    <th><input type="checkbox" value=""><img src="img/logo-ovo-pay.png" width="60px" height="30px"></th>
                    <th><input type="checkbox" value=""><img src="img/dana.jpg" width="60px" height="30px"></th>
                </tr>
                <tr>
                    <th><input type="checkbox" value=""><img src="img/alfa.png" width="60px" height="30px"></th>
                    <th><input type="checkbox" value=""><img src="img/indo.png" width="60px" height="30px"></th>
                  <th><input type="checkbox" value=""><img src="img/spaylater.png" width="60px" height="30px"></th>
                    <th><input type="checkbox" value=""><img src="img/visa.jpg" width="60px" height="30px"></th>
                    
                </tr>
                </table>
            </div>

           <button class="btn-form-pay">Pay</button>
           
           <button class="btn-form-change" id="my8tn">Batal</button>
        </form>
    </div>
    
</body>
</html>